# KIVENDTOUT - DÉPENDANCES PYTHON
# Installation : pip3 install -r requirements.txt

psycopg2-binary==2.9.9
pymongo==4.6.1
kafka-python==2.0.2
fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.3
pandas==2.2.0
numpy==1.26.3
python-dotenv==1.0.0
requests==2.31.0
